[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tcomment_vim"]
    path = bundle/tcomment_vim
    url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/vim-colors-solarized"]
    path = bundle/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/rainbow_parens"]
	path = bundle/rainbow_parens
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/indent-guide"]
	path = bundle/indent-guide
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/edsono/vim-matchit
